{{> navbar }}

<div class="container">
  <h2>Categories Management</h2>

  <table class="table">
    <thead>
      <tr class="table-primary">
        <th scope="col">ID</th>
        <th scope="col">Category Name</th>
        <th scope="col">Tools</th>
      </tr>
    </thead>
    <tbody>
      {{#each categories}}
      <tr>
        <th scope="row">{{this.CatID}}</th>
        <td>{{this.CatName}}</td>
        <td>
          <a href="/categories/view?id={{this.CatID}}" class="btn btn-sm btn-secondary">View</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>