<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W10 - Bai01</title>

    {{> css/bsfu }}
    {{> js/fu}}
    {{> js/socketcdn}}
</head>

<body>
    {{{body}}}
</body>

</html>